.carrousel-btn {
    background-color: var(--background-color);
    color: black;
    border: solid 1px transparent;

    /* box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.486);  */
    padding-inline: 2rem;
    padding-block: 0.8rem;
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    gap: 0.6rem;
    user-select: none;
    white-space: nowrap;
    /* border: solid 1px var(--secondary-color); */
    border-radius: var(--button-border-radius);
    transition: all 0.3s linear;
    font-size: 1.6rem;

}

.carrousel-btn.active{
    background-color: var(--button-background-color);
    color: white;
    /* box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.75); */
    transform: translate(2px 2px);
}

.carrousel-btn:hover{
    background-color: var(--button-hover-background);
}

.carrousel-btn.active:hover{
    background-color: #18181be6;
}