.cart-items-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 99;
    top: 0;
    right: 0;
    width: 100%;
    padding: 2.4rem;
    gap: 1rem;
    background-color: var(--background-color);
    height: 100vh;
    max-width: 375px;
    transform: translateX(100%);
    transition: all ease 0.3s;
    box-shadow: -3px 0px 7px 0px rgba(0, 0, 0, 0.253);
    overflow-y: auto;
}

.cart-items-container.open {
    transform: translateX(0);
}

.cart-product {
    display: flex;
    align-items: center;
    height: fit-content;
    justify-content: space-between;
    gap: 0.4rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.253);
}

.cart-product-image {
    width: clamp(120px, 30%, 140px);
}

.product-name-price {
    display: flex;
    font-size: 1.6rem;
    justify-content: space-between;
}

.cart-product-name {
    font-size: 1.6rem;
}

.cart-product-price {
    color: rgba(0, 0, 0, 0.548);
    font-size: 1.6rem;
}

.cart-product-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
    width: 100%;
}

.product-counter{
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.274);
    color: rgba(0, 0, 0, 0.747);
    border-radius: 25px;
    padding-inline: 0.5rem;
}

.product-counter button{
    width: 2rem;
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 22px;
    display: flex;
    color: rgba(0, 0, 0, 0.479);
}

.item-qty-manager{
    display: flex;
    justify-content: space-between;
}

.close-cart-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-cart-container h2 {
    font-size: 2rem;
}

.close-cart-button{
    font-size: 2rem;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.delete-item-button{
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    color: rgba(0, 0, 0, 0.63);
    cursor: pointer;
}

.delete-item-button svg{
    width: 1.8rem;
    height: 1.8rem;
}