.regular-button {
    background-color: rgba(24, 24, 27, 0.953);
    color: white;
    border: solid 1px transparent;
    border-radius: 0.4rem;
    -webkit-box-shadow:
        0px 1px 0px 0px white,
        0px 3px 0px 0px #b9b9b9;
    -moz-box-shadow: 0px 1px 0px 0px white,
        0px 3px 0px 0px #b9b9b9;
    box-shadow:
        1px 1px 0px 0px white,
        2px 2px 0px 0px #b9b9b9;
    padding-inline: 4rem;
    padding-block: 0.6rem;
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    gap: 0.6rem;
    user-select: none;
    transition: 0.2s all ease;
}


.regular-button:hover{
    background-color: #18181be6;
    border: 1px solid var(--button-background-color);
}

.regular-button:active  {

    transform: translate(2px, 2px);
    box-shadow: 0px 0px 0px 0px #b9b9b9;
}

.plus-one-div {
    position: fixed;
    user-select: none;
    pointer-events: none;
    color: var(--secondary-color);
    font-size: 1.8rem;

    width: 1.8rem;
    height: 1.8rem;
    z-index: 999;
    animation: going-up 0.6s linear forwards;
}

@keyframes going-up {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-150%);
        color: transparent;
    }
}