.carousel-container{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 0.8rem;
}

.carousel-images-container {
    display: flex;
    max-height: 100%;
    transition: all 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);

}

.carousel-images-container::-webkit-scrollbar {
    display: none;
}

.carousel-image{
    width: 100%;
    aspect-ratio: 12/6;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    scroll-snap-align: center;

}

.carousel-points-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.carousel-point{
    height: 8px;
    width: 8px;
    cursor: pointer;
    background-color: #e1e1e1;
    border-radius: 100%;
}

.carousel-points-container.no-items{
    margin-bottom: 8px;
}

.carousel-point.selected{
    background-color: black;
}