.product-view-container{
    padding: 4rem;
    padding-inline: 8rem;
}

.product-preview-info{
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(2, 1fr);
}


.product-preview-images{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-preview-details{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.product-preview-details h2{
    font-size: 2.6rem;
}

.product-preview-details h3{
    font-size: 2rem;
}

.product-preview-details p{
    color: #71717A;
}

.product-specifications{
    border: 2px;
}

.product-specifications h3{
    font-size: 1.6rem;
}

.product-specifications-info-column ul li{
    list-style-type: none;
    font-size: 1.4rem;
}

.product-specifications-info{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
}

.product-specifications{
    border: 1px solid var(--border-color);
    padding: 1.6rem;
    border-radius: 0.4rem;
}

.product-preview-main-image{
    max-height: 60vh;
}

.product-preview-images-carousel{
    display: flex;
    position: relative;
    gap: 2rem;
    height: 8.6rem;
    width: 100%;
}

.selected-square{
    content: '';
    background-color: #414040;
    width: auto;
    height: calc(100% + 0.6rem);
    transform: translate(0, 0);
    aspect-ratio: 1/1;
    border-radius: 0.4rem;
    padding: 0.6rem;
    cursor: pointer;
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
}

.product-preview-image-container{
    width: auto;
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 0.4rem;
    background-color: #eaeaea;
    padding: 0.6rem;
    cursor: pointer;
}

