.card {
    background-color: white;
    height: 300px;
    width: 100%;
    max-width: 250px;
    border-radius: 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;

    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}