.card {
    background-color: white;
    height: 300px;
    width: 100%;
    max-width: 250px;
    border-radius: 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;

    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.name-price-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.product-name{
    font-weight: bold;
    font-size: 1.6rem;
}

.product-price{
    font-size: 1.6rem;
    
}

.product-price span{
    font-size: 1.2rem;
    vertical-align: middle;
    font-weight: bold;

}