.products-container {
    width: 90%;
    max-width: 1024px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    background-color: red;
    margin-inline: auto;
    gap: 1rem;
}
