.carrousel-container {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1rem;
    position: relative;
    overflow: hidden;
    padding-right: 1rem;
}

.carrousel-btns-container {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1rem;
    padding-block: 0.2rem;
    transition: all 1s ease;
}

.carrousel-move-btn {
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    aspect-ratio: 1 / 1;
    border: 1px solid var(--border-color);
    border-radius: var(--button-border-radius);
    padding: 0;
    background-color: var(--background-color);
}

.carrousel-move-btn:hover {
    background-color: var(--button-hover-background);
}


.invisible-category-button {
    opacity: 0;
    pointer-events: none;
}

.carrouse-arrow-icon {
    height: 2.6rem;
    width: 2.6rem;
}

.left-arrow-icon {
    transform: rotate(180deg);
}

.carrousel-btn-container {
    position: absolute;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    border: 0;
    padding: 0;
    z-index: 1;
}


.carrousel-btn-container.right-btn {
    right: 0px;
    background-color: var(--background-color);
    color: var(--secondary-color);
}

.carrousel-btn-container.left-btn {
    left: 0px;
    background-color: var(--background-color);
    color: var(--secondary-color);
}

.left-btn::before {
    content: '';
    width: 15rem;
    height: 100%;
    left: 0px;
    position: absolute;
    background: var(--background-color);
    background: linear-gradient(90deg,
            var(--background-color) 0%,
            var(--background-color) 20%,
            rgba(198, 183, 190, 0) 100%);
    z-index: -1;
    pointer-events: none;
}

.right-btn::after {
    content: '';
    background: var(--background-color);
    background: linear-gradient(90deg,
            rgba(198, 183, 190, 0) 0%,
            var(--background-color) 80%,
            var(--background-color) 100%);
    width: 15rem;
    height: 100%;
    position: absolute;
    right: 0px;
    z-index: -1;
    pointer-events: none;
}