.main-header-container {
    display: flex;
    width: 90%;
    align-items: center;
    margin-inline: auto;
    padding-top: 4rem;
    padding-inline: 1.4rem;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: var(--background-color);
    z-index: 5;
}

.shopping-logo-container{
    padding: 1rem;
    border-radius: 50%;
    cursor: pointer;
    width: fit-content;
    display: flex;
    position: relative;
}

.shopping-logo-container:hover{
    background-color: rgba(0, 0, 0, 0.164);
}

.shopping-logo-quantity{
    position: absolute;
    background-color: red;
    z-index: 1;
    right: 10px;
    width: 15px;
    height: 15px;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    display: flex;
    color: white;
}