.main-header-container {
    display: flex;
    width: 90%;
    align-items: center;
    margin-inline: auto;
    margin-top: 2rem;
    padding-inline: 1rem;
    justify-content: space-between;
}

.shop-title{
    font-size: 3rem;
}

.logo-name{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.shopping-logo-container{
    padding: 1rem;
    border-radius: 50%;
    cursor: pointer;
    width: fit-content;
    display: flex;
    position: relative;
}

.shopping-logo-container:hover{
    background-color: rgba(0, 0, 0, 0.164);
}

.shopping-logo-quantity{
    position: absolute;
    background-color: red;
    z-index: 1;
    right: 10px;
    width: 15px;
    height: 15px;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    display: flex;
    color: white;
}