.footer-container{
    background-color: black;
    color: white;
    padding: 14px;
    padding-inline: 24px;
    font-size: 14px;
    position: fixed;
    border-radius: 0.4rem;
    transition: all 0.3s ease;
    letter-spacing: 1px;
    user-select: none;
    top: 100vh;
    width: 100%;
    max-width: 480px;
    left: 2rem;
}


.footer-container:hover{
    transform: translateY(calc(-100% - 15px));
}

@media only screen and (max-width: 600px){
	.footer-container{
        left: 0px;
        margin: auto;
        width: 100%;
    }

    .footer-container:hover{
        transform: translateY(-100%);
    }
}


.project-name{
    font-weight: 700;
}

.show-arrow{
    position: absolute;
    top: -32px;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
    padding-bottom: 1rem;
    padding-inline: 0.5rem;
    background-color: black;
    left: 0px;
}

.show-arrow{
    animation: shine 0.8s linear infinite;
}

@keyframes shine {
    50% {
        color: var(--secondary-color);
    }
}

.github-url{
    color: white;
}

.motive-container{
    color: rgba(255, 255, 255, 0.767);
}