.checkout-page-container {
    width: 90%;
    margin-inline: auto;
    padding-bottom: 3.6rem;
}

.checkout-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
    gap: 3.2rem;
}



.checkout-container-padding {
    padding: 2.4rem;
}


.white-checkout-container {
    border: 1px solid var(--border-color);
    background-color: white;
    border-radius: 0.5rem;
}

.checkout-info-container {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

.checkout-total-price-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--border-color);
}

.checkout-total-price-container h3 {
    font-size: 1.6rem;
}

.checkout-total-price-container p {
    font-size: 2rem;
    font-weight: bolder;
}

.checkout-products-container {
    padding-inline: 2.4rem;
    padding-bottom: 2.4rem;
    max-height: 45vh;
    overflow: auto;
    border: solid 3px transparent;
}

.checkout-product {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    padding-block: 0.8rem;
    border-bottom: 1px solid var(--border-color);
}

.checkout-products-container .checkout-product:last-child {
    border: none;
}

.checkout-container-subtitle {
    font-size: 2.4rem;
}

.checkout-product-image-container {
    width: 60px;
    height: 60px;
    background-color: #eaeaea;
    border-radius: 0.5rem;
}

.checkout-product-name {
    font-weight: bold;
}

.checkout-product-price {
    color: #6b7280;
}

.checkout-product-info {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.client-name {
    font-weight: bold;
}

#client-addresses {
    padding: 0.8rem 1.6rem;
    border: 1px solid #e4e4e7;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: transparent;
    font-size: 1.6rem;
    appearance: none;
    /* Oculta la flecha nativa */
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='16' height='16' fill='%23000000'%3E%3Cpath d='M7 10l5 5 5-5H7z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 1rem center;
    /* Posición de la flecha */
    background-size: 16px;
}

.checkout-shipping-info {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.checkout-white-button {
    max-width: fit-content;
    padding: 0.8rem 1.6rem;
    border: 1px solid #e4e4e7;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: transparent;
    font-size: 1.6rem;

}

.checkout-white-button:hover {
    background-color: hsl(240 4.8% 95.9%);
}

.payment-options {
    display: flex;
    flex-direction: column;
    margin-block: 1.6rem;
    gap: 1.6rem;
    font-size: 1.6rem;
    margin-left: 0.3rem;
}

.payment-options label {
    cursor: pointer;
    display: flex;
    gap: 0.8rem;
}

.payment-options label input {
    transform: scale(1.5);
    cursor: pointer;
    accent-color: #333;
}

.client-info{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

@media only screen and (max-width: 768px) {
    .checkout-container{
    grid-template-columns: 1fr;
    }

    .checkout-products-container{
        max-height: none;        
    }
}