*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html { 
  font-size: 62.5%
}

img{
  max-width: 100%;
}

.shop-title{
  text-align: center;
  margin-block: 4rem;
  font-weight: 700;
  user-select: none;
}