*{
  box-sizing: border-box;
  font-family: sfPro;
  font-style: normal;
}


@font-face {
  font-family: sfPro;
  src: url(fonts/sf-pro-display/SFPRODISPLAYREGULAR.OTF);
}

:root{
  --secondary-color: rgb(0, 94, 235);
  --background-color: #e3e6e6;

}

html { 
  font-size: 62.5%;
}

img{
  max-width: 100%;
}

body{
  background-color: #e5e5e5;

}

.shop-main-container {
  display: flex;
  flex-direction: column;
}

.filters-main-container{
  display: flex;
  width: 20%;
  max-width: 200px;
  min-width: 120px;
  background-color: red;
}

.products-main-container{
  width: 90%;
  overflow: auto;
  margin: auto;
}

.loader-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

