*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

:root{
  --secondary-color: green;
  --background-color: #e5e5e5;
  scrollbar-gutter: stable;

}

html { 
  font-size: 62.5%;
}

img{
  max-width: 100%;
}

.shop-title{
  margin-block: 4rem;
  font-weight: 700;
  user-select: none;
}

body{
  background-color: #e5e5e5;
  scrollbar-gutter: stable;
}

.shop-main-container {
  display: flex;
  flex-direction: column;
}

.filters-main-container{
  display: flex;
  width: 20%;
  max-width: 200px;
  min-width: 120px;
  background-color: red;
}

.products-main-container{
  width: 90%;
  overflow: auto;
  margin: auto;
}

.loader-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}